.m-Login{
	width: 388px;
	height: 288px;
	background-color: white;
	z-index: 999;
}

.m-close{
	float: right;
	margin-top: 10px;
	margin-right: 10px;

}

.inputArea{
	width: 100%;
}

.m-logName{
	width: 295px;
	height: 45px;
	border: 1px solid rgb(223,223,223);
	box-shadow: 0 -1px rgb(223,223,223);
}