/*css*/

a{
	text-decoration: none;
	color: black;
}

.green{
		color: rgb(57, 160, 48);

}

.body{
	position: relative;
}

ol li {
	list-style: none;
	float: left;
}

.m-adTxt {
	font-size: 12px;
	height: 38px;
	line-height: 38px;

	vertical-align: middle;
	background: rgb(243, 243, 243);

}

.m-adTxt:after{
	content: '.';
	height: 0;
	overflow: hidden;
	clear: both;
	display: none;
}
.m-close{
	float: right;
	margin-right: 60px;

}



.xP{
	display: inline-block;
	width: 15px;
	height: 12px;
	background: url(../imgs/x.png);
	background-repeat: no-repeat;
	
	position: absolute;
	top: 13px;

}

.m-adTxt .m-adCon{
	margin-left: 206px;
	height: 22px;
	line-height: 22px;	

}

.m-adTxt a{
	color: rgb(89, 186,129);
	text-decoration: none;
}


.m-adTxt span{
	display: inline-block;
	height: 38px;
	line-height: 38px;
	padding-left: 15px;	
}

.m-navLeft{
	margin:  32px  7% 0;
}
.edu {
	font-size: 22px;
	position: relative;
}

.m-eduImg{

	display: inline-block;
	background: url(../imgs/x.png);
	width: 63px;
	height: 20px;
	background-position: -28px 0px;
	position: absolute;
	top: 5px;
}
.m-line{
		margin-left: 63px;
		font-size: 19px;
}

.m-navSubs, #watch{
		margin-left: 30px;
		display: inline-block;
		width: 39px;
		height: 16px;
		border-radius: 1px;
		background-color:  rgb(89, 186,129);
		color: white;
		font-size: 12px;
		padding: 3px 8px;
		text-align: center;
		cursor: pointer;

}

.subImg{
	display: inline-block;
	background: url(../imgs/C.png);
	width: 13px;
	height: 11px;
	background-position: -40px 0px;
}

.subedImg{
	display: inline-block;
	background: url(../imgs/C.png);
	width: 13px;
	height: 11px;
	background-position: -23px 0px;
}

.m-fenNum{
	font-size: 10px;
	height: 22px;
	line-height: 22px;
}

.m-fens{
	font-size: 12px;
	margin-left: 14px;
	color: rgb(102,102,102);
}


.m-cList{
	float: right;
	height: 18px;
	line-height: 18px;
	display: inline-block;
	margin-right: 85px;
}


.m-cList li  a{
	padding-top: 6px;
	font-size: 16px;
	float: right;
	margin-right: 55px;

}

.m-searchIcon{
	float: right;
	width: 20px;
	height: 20px;
	background: url(../imgs/x.png) no-repeat;
	background-position: 0 -20px;
	cursor: pointer;

}



.m-banner{
	overflow: hidden;
	width: 100%;
}

/*居中*/
.m-info{
	margin-top: 55px;
	width: 100%;
	text-align: center;
}

/*居中*/
.info-content {
	width: 345px;
	height: 200px;
	/*margin-right: 75px; */
	display: inline-block;

}

.left{
	float: left;
	width: 100px;
	height: 100px;

}


 .left .ico-1{
	display: inline-block;
	width: 85px;
	height: 92px;
	background: url(../imgs/C.png) no-repeat;
	background-position: 0 -42px;
}

.left .ico-2{
	display: inline-block;
	width: 85px;
	height: 92px;
	background: url(../imgs/C.png) no-repeat;
	background-position: -89px -42px;
}


.left .ico-3{
	display: inline-block;
	width: 85px;
	height: 92px;
	background: url(../imgs/C.png) no-repeat;
	background-position: -180px -42px;
}

.right{
	margin-left: 120px;
}

.right span{
	display: inline-block;
	font-size: 22px;
	font-family: sans-serif;
	font-weight: bold;
	line-height:  62px;
	text-align: left ;
	text-indent: -100px;
}

.in-con{
	display: inline-block;
	width: 245px;
	text-align: left;
	font-size: 14px;
	color: #666666;
}


.in-footer {	
	margin-top: 30px;
	font-size: 14px;
	text-align: left;
}

.in-footer a:hover{
	text-decoration: underline;
	color: #39a030;
}


/*小于1205px*/

@media screen and (max-width:1205px){

.courses{
	width: 751px;

}
}

/*大于1205px*/
@media screen and (min-width: 1205px){
	
.courses{
	width: 1003px;

}

}



/*左边自适应*/
.m-cLeft{
	overflow: hidden;
	display: inline-block;
	width: 1010px;
	text-align: left !important;
	
}

/*右侧*/
.m-cRight{
	display: inline-block;
	width: 228px;
	position: absolute;
	right: 1%;
	top: 1134px;
}

.m-courses{
	width: 1240px;
	position: absolute;
	left: 5%;
	top: 1134px;
}


/*切换*/

.active{
	background-color:  #39a030;
	color: white;
}

.m-courseTab{
	display: block;
}
.m-tab{
	cursor: pointer ;
	display: inline-block;
	width: 200px;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	text-align: center;
	font-size: 20px;
	/*float: left;*/
	box-shadow: 0 1px rgb(212,211,211);
	margin-bottom: 10px;
}



.m-cItem{
	display: inline-block;
	width: 225px;
	height: 230px;
	box-shadow: 0 1px rgb(212,211,211);
	border-bottom: 1px solid rgb(241,241,241);
	border-left: 1px solid rgb(241,241,241);
	border-right:  1px solid rgb(241,241,241);
	margin: 20px 20px 20px 0 ;
	

}

/*.m-cItem:hover{
	
}*/

.m-cItem a:hover{
		color: #39a030;
}

.cTitle{
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.m-cImg{
	width: 100%;
	height: 125px;
	overflow: hidden;
}

.m-cInfo{
	white-space: nowrap;
	overflow: hidden;
	font-family: '微软雅黑';
	font-size: 12px;
}

.m-cInfo p{
	margin-bottom: 10px;
	margin-left: 6px;
}

.cAuthor, .cBookNum{
	color: #999;
	font-family: '微软雅黑';
	font-size: 12px;
}

.cBookNum{
	/*display: inline-block;*/
	width: 40px;
	height: 18px;
	/*padding: 4px 2px;*/
	border: 1px solid rgb(211,211,211);
	border-radius: 1%;
	overflow: hidden;
	text-align: center;
}

.cBookNum i{
	display: inline-block;
	width: 13px;
	height: 13px;
	background: url(../imgs/C.png) no-repeat;
	background-position: -55px 0;
}

.cPrice{
	color: rgb(255,63,0);
	font-family: '微软雅黑';
	font-size: 12px;
	font-weight: bold;
}
/*
.courses::last-child{
	margin-right: 0; 
}
*/

.m-unitDes{
	width: 228px;
	height: 230px;
	border-left: 1px solid rgb(211,211,211);
	border-right: 1px solid rgb(211,211,211);
	box-shadow: 0 2px rgb(212,211,211);
}

.unitHead{
	width: 100%;
	height: 55px;
	border-bottom: #ccc solid 1px;
	line-height: 55px;
}
.unitHead span{
	padding-left: 10px;
	font-size: 16px;
	font-weight: bold;
}

.m-unitVideo{
	margin: 20px auto 40px;
	font-size: 14px;
	color: rgb(102,102,102);
}

.m-unitVideo span{
	padding: 5px 10px;
}

.uVideo{
	cursor: pointer;
	margin-top: 9px;
	display: inline-block;
	width: 180px;
	height: 120px;
	overflow: hidden;

}

.uVideo img {
	padding-left: 15px;
}

.m-popularRank{
	margin-top: 20px;
	display: inline-block;
	width: 228px;
	border-left: 1px solid rgb(211,211,211);
	border-right: 1px solid rgb(211,211,211);
	box-shadow: 0 2px rgb(212,211,211);
}

.m-rankList{
	width: 100%;
	margin: 0 auto;
	max-height: 853px;
    overflow: hidden;
}

.m-rankItem{
	margin-top: 18px;
	display: block !important;
}

.r-left{
	float: left;
	width: 50px;
	margin-left: 20px;	
	margin-right: 12px;	
}

.r-left img{
	width: 50px;
	height: 50px;
	overflow: hidden;

}

.r-right{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.r-head{
	font-size: 14px;
	color: black;

}

.r-userInfo {
	text-align: left;
}

.r-userInfo i{
	display: inline-block;
	width: 13px;
	height: 13px;
	background: url(../imgs/C.png) no-repeat;
	background-position: -55px 0;
}

.r-userInfo span{
	color: rgb(153,153,153);
}

.m-rankList:last-child{
	margin-bottom: 20px;
}

.navBtn{
	display: inline-block;
	width: 30px;
	height: 20px;
	color: white;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	background-color: rgb(157,216,177);
}

.navPage{
	float: right;
	margin-bottom: 120px;
	margin-right: 18px;
}

.navPage ol li{
	cursor: pointer;
	margin-left: 20px;
	width: 20px;
	height: 20px;
	text-align: center;
}

.navPage ol li:hover{
	background-color: rgb(157,216,177);
	color: white;
	text-align: center;
	width:38px;
	height: 25px;
}

.m-footer{
	height: 263px;
	width: 100%;
	background-color: rgb(44,51,57);
	color: rgb(190,191,192);
	text-align: center;
	position: absolute;
    bottom: -1100px;
}

.netEastInfo{
	width: 450px;
	display: inline-block;
	
	position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 50%;

}

.netEastInfo i{
	display: inline-block;
	position: relative;
	top: 4px;
	right: 3px;
    background: url(../imgs/x.png);
    width: 63px;
    height: 20px;
    background-position: -28px 0px;
}

.netEast{
	font-size: 21px;
	font-weight: bolder;
	text-align: left; 
	/*line-height: 263px;*/
}

.v-line{
	font-size: 21px;
}

.copyInfo{
	margin-top: 29px;
	color: rgb(162,164,165);
	font-size: 12.5px;
	font-family: '微软雅黑';
	text-align: left;
	margin-left: 23%;
}

.copyr{
	margin-bottom: 14px;
}

.otherInfo{
	display: inline-block;
	position: absolute;
    transform: translateY(-50%);
    top: 50%;

}

.m-Links, .m-us, .m-more{
	/*float: left;*/
	width: 150px;
	float: left;
}


.m-us{
	
}

.footerInfo{
	font-size: 12.5px;

}

.m-us p , .m-Links p , .m-more p {

	margin-top: 14px;
}

.m-us p a, .m-Links p a, .m-more p a{
	font-size: 14.6px;
	color:  rgb(162,164,165);
	margin-top: 14px;
}

/*hover效果*/
.m-cItem_hover{
	display: inline-block;
	z-index: 99;
	width:472px;
	height: 251px;
	text-align: left;
	box-shadow: 0 1px rgb(212,211,211);
	border: 1px solid rgb(241,241,241);
	color: rgb(102,102,102);
	overflow: hidden;
}

.m-hImg{
	width: 223px;
	height: 124px;
	overflow: hidden;
	float: left
}
.top{
	height: 160px;
	width: 100%;
}
.m-hInfo{
	/*display: inline-block;*/
	margin-top: 16px;
	width: 200px;
	float: right;
	text-align: left;

}
.hTitle{
	font-size: 18px;
	font-weight: bold;
	color: black;
	margin-bottom: 20px;
}

.hSort,.hBookNum{
	color: #999;
	font-family: '微软雅黑';
	font-size: 12px;
}

.hBookNum i{
	display: inline-block;
	width: 13px;
	height: 13px;
	background: url(../imgs/C.png) no-repeat;
	background-position: -55px 0;
}

.m-cItem_hover a img{
	padding: 17px 19px;
}

.hBookNum,.hSort, .cAuthor{
	margin-bottom: 14px;
	height: 12px;
	line-height: 12px;
}

.bot{
	width: 100%;
	height: 87px;
	background-color: rgb(248,248,248);
	overflow: hidden;
	/*white-space: nowrap;*/
	text-overflow: ellipsis;


}

.intruduce{
	padding-top: 14px;
	vertical-align: middle;
	height: 28px;
	line-height: 28px;
	color: rgb(113,113,113);
}

.m-parentV{
	width: 800px;
	height: 450px;
	position: fixed;

	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	 -ms-transform: translate(-50%,-50%);
	 z-index: 9999;
}

.m-vStyle {
	width: 800px;
	height: 450px;
	position: absolute;
}

.m-cItem:hover, .m-rankItem:hover, .navPage li:hover{
	-moz-transform:scale(1.2,1.1); 
	-webkit-transform:scale(1.2,1.1); 
	-o-transform:scale(1.2,1.1); 
	transform:scale(1.2,1.1); 

}


.m-input{
	width: 120px;
	height: 25px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: -1px -1px rgba(45,40,40,0.3);
}

#imgList,.m-showImg {
	margin-top: 15px;
	height: 243px;
	width: 100%;
	/*overflow: hidden;*/
}

#watch{
	position: relative;
	left: -87px;
	width: 55px;
	height: 22px;
	visibility: hidden;


}

.m-showImg .imgs{
	float: left;
	overflow: hidden;
	height: 243px;
	line-height: 243px;
	position: relative;

}


 .imgs li, .imgs li img{
	
	line-height: 243px;
	height: 243px;
	/*overflow: hidden;*/
}

.nav-active{
	width: 50px;
	height: 28px;
	background-color: rgba(71,192,123, 0.4);
}

.cancle{
	font-size: 13px;
	color: rgba(220,220,220);
}

.cancle:hover{
	color: rgb(89, 186,129);
}